//
//  Development.xcconfig
//  NYTimes
//
//  Created by ahmed abdalla on 11/06/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//SERVER URL
BASE_URL = https:/$()/api.nytimes.com/svc/mostpopular/v2/mostviewed/all-sections/

//API Key
API_KEY = 04ow9TNZmAzAolw2AKLb7dtMMKRjbPb5 // add your api key
